:root {
    --bg-top-nav: rgb(51, 51, 51);
    --bg-main-nav: #2D2D2D;
    --text-color: #fff;
    --text-color-highlight: #C58560;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

html {
    width: 100%;
    min-height: 100vh;
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif !important;

    background-color: #000;

}


/* general */
.csp {
    cursor: pointer;
}


.text-white {
    color: white;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row>* {
    padding: 0;
}

/* header */


header {
    background-color: var(--bg-top-nav);
}

header {
    color: var(--text-color);
}

header .header__top {
    padding-top: 10px;
    height: 85px;

}

header .header__top img {
    height: 60px;
}

header .header__top__right {
    margin-left: 2rem;
}

header .header__menu {
    background-color: var(--bg-main-nav);

}

header .header__menu__list li {
    font-size: 1.1rem;
    padding: 15px 11.5px;
}

header .header__menu__list li:nth-child(1) {
    border-bottom: 3px solid;
    color: var(--text-color-highlight);
}

header input {
    padding: .3rem 1rem;
    width: 350px;

}

header input:focus {
    outline: unset;
    border: none;
}

header .header__search__container i {
    font-weight: bold;
    right: 10px;
    top: 10px;
    color: #666666;
}

header .header__search__container>span {
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    padding: .5rem 0;
}

header .header__user__menu li:hover {
    opacity: .8;
}

header .header__user__menu li {
    padding: 1rem .5rem;
    cursor: pointer;
}

header .header__menu .menu__main__item:hover {
    color: var(--text-color-highlight);
}

header .header__search__mobile i,
header .header__user__menu--sub i {
    font-size: 2rem;

}

/* content */

.content__banner {
    margin: 1.5rem 0;
}

/* content slick-carousel */
.list__films .title {
    font-size: 1.7rem;
    padding: 12px 5px;
    margin: 5px 0px;
    color: var(--text-color-highlight);
    border-bottom: 2px solid var(--text-color-highlight);
}

.list__container .list__container__item>span {
    color: var(--text-color);
    background-color: #C58560;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    padding: 2px 5px;
    border-radius: 0px 5px 5px 0px;
}

.list__container .list__container__item>div {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-color)
}

.list__container .list__container__item {
    overflow: hidden;
    padding: .5rem;

}


.list__container .list__container__item img {
    transition: all 0.3s ease-in-out;
    overflow: clip;

}


.list__container .list__container__item>i {
    background-color: #ff9601;
    color: red;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.list__container .list__container__item>i:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: 15px solid transparent;
    border-left: 20px solid #ffffff;
    margin: -15px 0 0 -6px;
}

.list__container .list__container__item:hover img {
    transform: scale(1.2);
}

.list__container .list__container__item:hover .icon-play {
    opacity: .8;
    transform: scale(1);
}



/* 3.content-films */
/* 3.1content-films_left */
.list__films span.title {
    padding-bottom: 2rem;
}

.content__films__left {
    /* padding-right: 1rem; */
}



/* 3.2content_films_right */
/* trailer */
.content__films__right {
    padding-left: 1rem;
}

.content__films__right .title {
    font-size: 1.8rem;
    padding: 12px 5px;
    margin: 5px 0px;
    color: var(--text-color-highlight);
    border-bottom: 2px dashed #5d5d5d;
}

.content__films__right .trailer__item__desc__title:hover {
    color: var(--text-color-highlight);
}

.content__films__right .content__right__trailer {
    padding: 20px 10px;
    margin: 0px 0px 20px 0px;
}

.content__films__right .content__trailer {
    margin-top: 1rem;
    color: var(--text-color);
}

.content__films__right .trailer__item__avatar img {
    width: 75px;
    height: 87px;
}

.content__films__right .trailer__item__desc__date {
    font-size: 0.9rem;
    opacity: 0.8;
}

.content__films__right .trailer__item__desc {
    padding-left: 1rem;
}

.content__films__right .content__trailer__item {
    margin-top: 1rem;
}

.content__films__right .content__trailer__item:nth-child(even) {
    background-color: rgb(24 24 24);
}

/*  trending*/
.content__films__right .tabs .tab.active {
    background-color: #5d5d5d;
}

.content__films__right .tabs .tab {
    padding: .5rem 0rem;
}

.content__films__right .tabs .tab:hover {
    background-color: #333;
}

.content__films__right .tabs .tab span {
    margin-bottom: 0;
}

.content__films__right .content__right__trending .list__films {
    margin-top: 1rem;
}

.content__films__right .content__right__trending .list__number {
    padding: .5rem;
}

.content__films__right .content__right__trending .list__container__item {
    padding: .5rem 0rem;
}

.content__films__right .content__right__trending .list__container__item:nth-child(even) {
    background-color: rgb(24 24 24);
}

.content__films__right .content__right__trending .list__number span {
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 13px;
    border-radius: 50%;
    background-color: var(--text-color-highlight);
}

.content__films__right .content-right__trending .list-desc-title span:hover {
    color: var(--text-color-highlight);
    cursor: pointer;
}

.content__films__right .content-right__trending .list-desc-views {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
}

/* 4.Footer */
footer {
    margin-top: 5rem;
    color: #848484;
    background: #2d2d2d;
}
footer div{
    margin: auto;
}

#footer>div>div {
    padding: 2rem 1rem;
}

footer .info {
    background-color: #353535;
}

footer .info .title {
    font-weight: bold;
}

footer .info>div {
    padding: 0 1rem;
}

@media (max-width: 576px) {
    header .header__top__left img{
        height: 50% !important;
    }
}